<footer class="footer container">
    <div class="footer-content">
        <p id="footer" class="footer-slogan"><span>Chocolate </span>a delicious cure for a bad day</p>
        <div class="footer-adress-social">
            <div class="footer-adress">
                <p class="footer-text">Contact us</p>
                <a class="footer-tel link" href="tel:+380684439426">
                    +380 (68) 443-94-26</a>
                <a class="footer-mail link" href="mailto:simplychoc@gmail.com">
                    simplychoc@gmail.com</a>
            </div>
            <ul class="footer-social-list list">
                <li class="footer-social-item">
                    <a class="footer-soc-link link" href="https://www.instagram.com/" aria-label="instagram link"
                        target="_blank" rel="noreferrer noopener">
                        <svg class="footer-soc-icon" width="22" height="22">
                            <use href="/img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a class="footer-soc-link link" href="https://twitter.com/" aria-label="twitter link"
                        target="_blank" rel="noreferrer noopener">
                        <svg class="footer-soc-icon" width="22" height="22">
                            <use href="/img/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <nav class="footer-navigation">
        <ul class="footer-navigation-list list">
            <li><a class="footer-link link" href="./index.html">Home</a></li>
            <li><a class="footer-link link" href="#how-made">How it’s made?</a></li>
            <li><a class="footer-link link" href="#products">Our products</a></li>
            <li><a class="footer-link link" href="#sellers">Top sellers</a></li>
            <li><a class="footer-link link" href="#love">Chocolate is loved</a></li>
        </ul>
    </nav>

</footer>