<header class="page-header">
  <div class="container">
    <nav class="header-nav">
      <!-- <a href="./index.html" class="header-logo"
            ><span class="span-header">SIMPLY</span>CHOCOLATE <img src="./images/Logo1.svg" alt=""></a
        > -->
      <a href="./index.html" class="header-logo"
        ><img src="/img/header/logo.svg" alt="logo" width="" height=""
      /></a>
      <ul class="site-nav-header header-list">
        <li class="header-item">
          <a href="./index.html" class="header-nav-link link-current">Home</a>
        </li>
        <li class="header-item">
          <a href="./index.html/how-its-made.html" class="header-nav-link"
            >How it’s made?</a
          >
        </li>
        <li class="header-item">
          <a href="./index.html/our-products.html" class="header-nav-link">Our products</a>
        </li>
        <li class="header-item">
          <a href="./index.html/top-sellers.html" class="header-nav-link">Top sellers</a>
        </li>
        <li class="header-item">
          <a href="./index.html/reviews.html" class="header-nav-link"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
    <div class="header-cont-pre">
      <ul class="header-soc-list header-list">
        <li class="header-soc-title">
          <a href="" class="header-soc-link header-link">
            <svg class="icon-social-header" width="24" height="24">
              <use href="/img/header/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-title">
          <a href="" class="header-soc-link header-link"
            ><svg class="icon-social-header" width="24" height="24">
              <use href="/img/header/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button type="button" class="header-burger js-open-modal" data-modal="1">
      <svg width="" height="">
        <use href="/img/header/icons.svg#hamburger"></use>
      </svg>
    </button>
  </div>
  <div class="header-menu is-hidden" data-modal="1">
    <div class="container-mob-header">
      <div>
        <button type="button" class="header-mob-close js-modal-close">
          <svg width="14" height="14">
            <use href="./img/header/icons.svg#close"></use>
          </svg>
        </button>
        <ul class="header-mob-nav header-mob-list">
          <li class="header-mob-item">
            <a href="./index.html" class="header-mob-link link-current"
              >Home</a
            >
          </li>
          <li class="header-mob-item">
            <a href="./index.html/how-its-made.html" class="header-mob-link"
              >How it’s made?</a
            >
          </li>
          <li class="header-mob-item">
            <a href="./index.html/our-products.html" class="header-mob-link"
              >Our products</a
            >
          </li>
          <li class="header-mob-item">
            <a href="./index.html/top-sellers.html" class="header-mob-link">Top sellers</a>
          </li>
          <li class="header-mob-item">
            <a href="./index.html/reviews.html" class="header-mob-link"
              >Chocolate is loved</a
            >
          </li>
        </ul>
      </div>
      <div class="header-cont">
        <ul class="header-soc-list header-mob-list">
          <li class="header-soc-title">
            <a href="" class="header-soc-link header-link">
              <svg class="icon-social-header" width="24" height="24">
                <use href="/img/header/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header-soc-title">
            <a href="" class="header-soc-link header-link"
              ><svg class="icon-social-header" width="24" height="24">
                <use href="/img/header/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>



