<hero class="hero">
  <div class="container hero-container">
    <div class="hero-box">
      <img src="" alt="" />
      <h1 class="visually-hidden">the most delicious chocolate</h1>
      <h2 class="hero-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
   <div class="hero-tablet">
      <div class="hero-button">
        <button class="btn" type="button" >Buy now</button>
        <button class="btn2" type="button">How it's made</button>
      </div>
      <div class="h-scroll">
    
         <p class="hero-scroll">scroll down</p>   

        <!-- <a href="index.html#footer" class="hero-button"><svg class="hero-icon" width="28" height="28">
          <use class="hero-svg" href="../img/icons.svg#icon-v-sign"></use>
        </svg></a> -->

         <a href="index.html#footer">   
        <svg class="hero-icon" width="28" height="28">
          <use class="hero-svg" href="../img/icons.svg#icon-v-sign-aktive"></use>
        </svg></a>
      </div>
    </div>
  </div>
</hero>


<!-- --------------------------------------- -->
