<!-- Hero -->
<section class="hero">
  <div class="container">
    <div class="hero-box">
      <h1 class="visually-hidden">SIMPLY CHOCOLATE</h1>
      <h2 class="hero-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <div class="hero-btn-wrap">
        <div class="hero-btn">
          <button class="btn-buy js-open-modal" data-modal="2" type="button">
            Buy now
          </button>
          <button class="btn-made" type="button">
            <a href="#how-made">How it’s made</a>
          </button>
        </div>
        <div class="hero-scroll">
          <a href="#" onclick="scrollToFooter()" class="hero-scroll-link"
            >scroll down</a
          >
          <button onclick="scrollToFooter()" class="btn-scroll" type="button">
            <svg class="hero-icon" width="28" height="28">
              <use class="hero-svg" href="/img/icons.svg#hero-vector"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Scroll -->
<script>
  function scrollToFooter() {
    window.scrollTo({
      top: document.body.scrollHeight,
      behavior: 'smooth',
    });
  }
</script>
