<section class="hero">

 <div class="container hero-box">
          <div class="hero-content">
            <h1 class="hero-title">Treat yourself or a loved one 
              to our finest ingredients for a moment of pure delight!</h1>
           
            <button class="btn" type="button">Buy now</button>

              <button class="btn2" type="button">How it's made</button>
          </div>
          
</section>
<section class="hero-menu">
    <div class="hero-container-menu">
    <ul>
        <li>Home</li>
        <li>How it’s made?</li>
        <li>Our products</li>
        <li>Top sellers</li>
        <li>Chocolate is loved</li>
    </ul>
</div>
</section>
