<!-----------<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOW IT`S MADE</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/how-its-made.css">
</head>
<body>------->

<section id='how-made' class="container made">
  <h2 class="how-made">hOW IT’S <span class="accent">made?</span></h2>


    <div class="two-made">

        <div class="background-made">
          <button type="button" class="made-button">

<svg class="svg-made" fill="white" width="35" height="35">
  <use href="/img/icons.svg#icon-play"></use>
</svg></button>
        </div>

<div class="chocolate-made-div">

    <p class="chocolate-made">Try  our chocolates today and discover the perfect balance of flavor</p>
        <ul class="made-list">
            <li> Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
            <li> At the same time, prepare a water bath. Melt the butter on it.</li>
            <li>"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
            <li>Heat the mixture over low heat, letting it barely boil.</li>
            <li class="made-hide">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden. </li>

        </ul>
</div>
    </div>

    </section>
<!------</body>
</html> ----->