<div class="modal-buy-now modal" data-modal="2">
  <button class="modal-close-btn js-modal-close">
    <svg width="24" height="24">
      <use href="/img/icons.svg#icon-x-close"></use>
    </svg>
  </button>
  <h2 class="modal-title"><span class="title-accent">BUY</span> NOW</h2>

  <!---------- swiper ---------->

  <div class="slide-box-buy-now">
    <div class="swiper-slide swiper-slide-buy-now">
      <img
        srcset="
          /img/modal-buy-now/100g-mobile-1x.png 1x,
          /img/modal-buy-now/100g-mobile-2x.png 2x
        "
        src="/img/modal-buy-now/100g-mobile-1x.png"
        alt="chocolate"
        class="swiper-img-buy-now"
      />
      <p class="swiper-text-buy-now">100 g</p>
    </div>

    <ul class="dots-box-buy-now">
      <li class="dots-buy-now dots-buy-now-activ"></li>
      <li class="dots-buy-now"></li>
      <li class="dots-buy-now"></li>
    </ul>
  </div>

  <!-- <div class="swiper swiper-buy-now">
    
    <div class="swiper-wrapper">
      
      <div class="swiper-slide swiper-slide-buy-now">
        <img
          srcset="
            /img/modal-buy-now/100g-mobile-1x.png 1x,
            /img/modal-buy-now/100g-mobile-2x.png 2x
          "
          src="/img/modal-buy-now/100g-mobile-1x.png"
          alt="chocolate"
          class="swiper-img-buy-now"
        />
        <p class="swiper-text-buy-now">100 g</p>
      </div>
      <div class="swiper-slide swiper-slide-buy-now">
        <img
          srcset="
            /img/modal-buy-now/200g-mobile-1x.png 1x,
            /img/modal-buy-now/200g-mobile-2x.png 2x
          "
          src="/img/modal-buy-now/200g-mobile-1x.png"
          alt="chocolate"
          class="swiper-img-buy-now"
        />
        <p class="swiper-text-buy-now">200 g</p>
      </div>
      <div class="swiper-slide swiper-slide-buy-now">
        <img
          srcset="
            /img/modal-buy-now/300g-mobile-1x.png 1x,
            /img/modal-buy-now/300g-mobile-2x.png 2x
          "
          src="/img/modal-buy-now/300g-mobile-1x.png"
          alt="chocolate"
          class="swiper-img-buy-now"
        />
        <p class="swiper-text-buy-now">300 g</p>
      </div>
    </div>
    
    <div class="swiper-pagination"></div>
  </div> -->

  <!----------- tablet and desktop img --------->

  <div class="buy-now-img-wrap">
    <label class="radio-box">
      <input
        class="choise-weight-radio"
        type="radio"
        name="choise-weight"
        value="100g"
        checked
      />
      <span class="swiper-slide-buy-now">
        <img
          srcset="
            /img/modal-buy-now/100g-tablet-1x.png 1x,
            /img/modal-buy-now/100g-tablet-2x.png 2x
          "
          src="/img/modal-buy-now/100g-tablet-1x.png"
          alt="chocolate"
          class="swiper-img-buy-now"
        />
        <span class="swiper-text-buy-now">100 g</span>
      </span>
    </label>
    <label class="radio-box">
      <input
        class="choise-weight-radio"
        type="radio"
        name="choise-weight"
        value="200g"
      />
      <span class="swiper-slide-buy-now">
        <img
          srcset="
            /img/modal-buy-now/200g-tablet-1x.png 1x,
            /img/modal-buy-now/200g-tablet-2x.png 2x
          "
          src="/img/modal-buy-now/200g-tablet-1x.png"
          alt="chocolate"
          class="swiper-img-buy-now"
        />
        <span class="swiper-text-buy-now">200 g</span>
      </span>
    </label>
    <label class="radio-box">
      <input
        class="choise-weight-radio"
        type="radio"
        name="choise-weight"
        value="300g"
      />
      <span class="swiper-slide-buy-now">
        <img
          srcset="
            /img/modal-buy-now/300g-tablet-1x.png 1x,
            /img/modal-buy-now/300g-tablet-2x.png 2x
          "
          src="/img/modal-buy-now/300g-tablet-1x.png"
          alt="chocolate"
          class="swiper-img-buy-now"
        />
        <span class="swiper-text-buy-now">300 g</span>
      </span>
    </label>
  </div>

  <!---------- form  --------->

  <form action="#" class="modal-form">
    <div class="form-info">
      <label class="lable-text" for="name">Personal information</label>
      <div class="surname-input">
        <input
          class="form-input"
          type="text"
          name="name"
          id="name"
          placeholder="Name"
          pattern="^[a-zA-Z]+$"
          title="Only letters have to be used"
          required
        />
        <input
          class="form-input"
          type="text"
          name="surname"
          placeholder="Surname"
          pattern="^[a-zA-Z]+$"
          title="Only letters have to be used"
          required
        />
      </div>
    </div>
    <div class="form-info">
      <label class="lable-text" for="mail">Email</label>
      <input
        class="form-input"
        type="email"
        name="mail"
        id="mail"
        placeholder="Enter your email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        title="Please type correct email address"
        required
      />
    </div>
    <div class="form-info">
      <label class="lable-text" for="tel">Phone number</label>
      <input
        class="form-input tel-input"
        type="tel"
        name="tel"
        id="tel"
        placeholder="Phone number"
        pattern="[0-9]{9}"
        required
      />
      <div class="country-code">
        <svg class="country-flag">
          <use href="/img/icons.svg#icon-flag"></use>
        </svg>
        <span class="country-prefix">+380</span>
      </div>
    </div>

    <div class="form-info">
      <label class="lable-text" for="card">Card number</label>
      <input
        class="form-input"
        type="tel"
        inputmode="numeric"
        pattern="[0-9\s]{13,19}"
        maxlength="19"
        name="card"
        id="card"
        placeholder="Enter card"
        required
      />
      <svg class="mastercard">
        <use href="/img/icons.svg#icon-Mastercard"></use>
      </svg>
    </div>
    <div class="form-info">
      <label class="lable-text" for="comment">Comment</label>
      <textarea
        class="form-input form-textarea"
        name="comment"
        id="comment"
        placeholder="Enter text"
      ></textarea>
    </div>
  </form>

  <button class="modal-submit-btn" type="submit">Submit</button>
</div>

<div class="overlay js-overlay-modal"></div>
