<!-- 1div data-thank. btn data-thank-close   -->
<div class="modal modal-thank" data-modal="5">
  <button type="button" class="thank-button js-modal-close">
    <svg class="svg-thank">
      <use class="use-thank" href="/img/icons.svg#icon-x-close"></use>
    </svg>
  </button>

  <div class="thank-text">
    <h1 class="thank-you-h">thank you!</h1>
    <p class="thank-p">
      We are glad that you ordered our chocolate and we are giving you a 20%
      discount on all our products.
    </p>
  </div>

  <picture>
    <source
      media="(min-width:1200px)"
      srcset="
        /img/how-its-made/chocolate-desktop.png   1x,
        /img/how-its-made/chocolate-desktop-2.png 2x
      "
    />
    <source
      media="(min-width:768px)"
      srcset="
        /img/how-its-made/chocolate-tablet.png   1x,
        /img/how-its-made/Chocolate-tablet-2.png 2x
      "
    />
    <img
      class="thank-picture"
      srcset="
        /img/how-its-made/chocolate-mobile.png   1x,
        /img/how-its-made/chocolate-mobile-2.png 2x
      "
      src="/img/how-its-made/chocolate-mobile.png"
      width="“280”"
      alt="image"
      loading="lazy"
    />
  </picture>
</div>
