<!------<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THANK YOU!</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/modal-thank-you.css">
       <link rel="stylesheet" href="../css/modal-feedback.css">

</head>
<body> ----->

  <div class="modal-thank">
    <button type="button" class="thank-button">
<svg class="svg-thank">
  <use class="use-thank" href="/img/icons.svg#icon-x-close">
  </use>
</svg>
    </button>

    <div class="feedback-text">
    <h1 class="thank-you-h">thank you
for your feedback!</h1>
    <p class="thank-p">We are so happy to hear from you!</p>
</div>

  <picture >
 <source
  media="(min-width:1200px)"
  srcset="/img/how-its-made/chocolate-desktop.png 1x, /img/how-its-made/chocolate-desktop-2.png 2x"
 />
 <source
  media="(min-width:768px)"
  srcset="/img/how-its-made/chocolate-tablet.png 1x,
/img/how-its-made/Chocolate-tablet-2.png 2x
  "
 />
 <img class="thank-picture"
  srcset="
 /img/how-its-made/chocolate-mobile.png  1x,
 /img/how-its-made/chocolate-mobile-2.png 2x
  "
  src="/img/how-its-made/chocolate-mobile.png"
  width=“280”
  alt="image"
  loading="lazy"
 />
</picture>

  </div>
<!--- </body>
</html> ---->