<section class="container our-products">
  <h2 class="section-title">
    Our <span class="second-part-section-title">products</span>
  </h2>
  <ul class="product-list card-slider swiper-container">
    <li class="product-item swiper-wrapper">
      <div class="card-products swiper-slide">
        <img
          class="chocolate-img"
          srcset="/img/our-products/orange_x1.jpg x1 , /img/our-products/orange_x2.jpg 2x "
          src="/img/our-products/orange_x1.jpg"
          alt="orange chocolate"
          width="230"
          height="201"
        />
        <h3 class="product-title">orange</h3>
        <p class="product-description">Dark chocolate</p>
        <button type="button" class="cost-btn">45 UAH</button>
      </div>
    </li>
    <li class="product-item swiper-wrapper">
      <div class="card-products swiper-slide">
        <img
          class="chocolate-img"
          srcset="/img/our-products/apple&cranberry_x1.jpg x1, /img/our-products/apple&cranberry_x2.jpg 2x"
          src="/img/our-products/apple&cranberry_x1.jpg"
          alt="apple & cranberry chocolate"
          width="230"
          height="201"
        />
        <h3 class="product-title">APPLE&CRANBERRY</h3>
        <p class="product-description">Milk chocolate</p>
        <button type="button" class="cost-btn">50 UAH</button>
      </div>
    </li>
    <li class="product-item swiper-wrapper">
      <div class="card-products swiper-slide">
        <img
          class="chocolate-img"
          srcset="/img/our-products/lime&sea_salt_x1.jpg x1, /img/our-products/lime&sea_salt_x2.jpg 2x"
          src="/img/our-products/lime&sea_salt_x1.jpg"
          alt="lime & sea solt chocolate"
          width="230"
          height="201"
        />
        <h3 class="product-title">lime&sea salt</h3>
        <p class="product-description">Dark chocolate</p>
        <button type="button" class="cost-btn">66 UAH</button>
      </div>
    </li>
    <li class="product-item swiper-wrapper">
      <div class="card-products swiper-slide">
        <img
          class="chocolate-img"
          srcset="/img/our-products/pineapple_x1.jpg x1, /img/our-products/pineapple_x2.jpg 2x"
          src="/img/our-products/pineapple_x1.jpg"
          alt="pineapple chocolate"
          width="230"
          height="201"
        />
        <h3 class="product-title">pineapple</h3>
        <p class="product-description">Dark chocolate</p>
        <button type="button" class="cost-btn">54 UAH</button>
      </div>
    </li>
    <li class="product-item swiper-wrapper">
      <div class="card-products swiper-slide">
        <img
          class="chocolate-img"
          srcset="/img/our-products/classic_1x.jpg x1, /img/our-products/classic_2x.jpg 2x"
          src="/img/our-products/classic_1x.jpg"
          alt="classic chocolate"
          width="230"
          height="201"
        />
        <h3 class="product-title">Classic</h3>
        <p class="product-description">Milk chocolate</p>
        <button type="button" class="cost-btn">45 UAH</button>
      </div>
    </li>
    <li class="product-item swiper-wrapper">
      <div class="card-products swiper-slide">
        <img
          class="chocolate-img"
          srcset="/img/our-products/honey_x1.jpg x1, /img/our-products/honey_x2.jpg 2x"
          src="/img/our-products/honey_x1.jpg"
          alt="honey chocolate"
          width="230"
          height="201"
        />
        <h3 class="product-title">honey</h3>
        <p class="product-description">Milk chocolate</p>
        <button type="button" class="cost-btn">50 UAH</button>
      </div>
    </li>
    <li class="product-item swiper-wrapper">
      <div class="card-products swiper-slide">
        <img
          class="chocolate-img"
          srcset="/img/our-products/roasted_fruits_x1.jpg x1, /img/our-products/roasted_fruits_x2.jpg 2x"
          src="/img/our-products/roasted_fruits_x1.jpg"
          alt="roasted fruits chocolate"
          width="230"
          height="201"
        />
        <h3 class="product-title">Roasted fruits</h3>
        <p class="product-description">Dark chocolate</p>
        <button type="button" class="cost-btn">66 UAH</button>
      </div>
    </li>
    <li class="product-item swiper-wrapper">
      <div class="card-products swiper-slide">
        <img
          class="chocolate-img"
          srcset="/img/our-products/classic_white_1x.jpg x1, /img/our-products/classic_white_2x.jpg 2x"
          src="/img/our-products/classic_white_1x.jpg"
          alt="classic white chocolate"
          width="230"
          height="201"
        />
        <h3 class="product-title">Classic</h3>
        <p class="product-description">White chocolate</p>
        <button type="button" class="cost-btn">54 UAH</button>
      </div>
    </li>
  </ul>
</section>
