<section class="reviews">
  <div class="container">
    <h2 id="love" class="reviews-title">
      <span class="chocolate-color">chocolate</span> is loved
    </h2>
    <ul class="reviews-list">
      <li class="reviews-item card1">
        <img
          class="team-img"
          srcset="
            /img/reviews/victoria-dobrzhanska-1x.png 1x,
            /img/reviews/victoria-dobrzhanska-2x.png 2x
          "
          src="/img/reviews/victoria-dobrzhanska.png"
          alt="Photo Victoria Dobrzhanska"
          width="80"
          loading="lazy"
        />
        <div class="reviews-card">
          <h3 class="reviews-subtitle">Victoria Dobrzhanska</h3>
          <p class="reviews-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="reviews-item card2">
        <img
          class="team-img"
          srcset="
            /img/reviews/nazar-babenko-1x.png 1x,
            /img/reviews/nazar-babenko-2x.png 2x
          "
          src="/img/reviews/nazar-babenko.png"
          alt="Photo Nazar Babenko"
          width="80"
          loading="lazy"
        />
        <div class="reviews-card">
          <h3 class="reviews-subtitle">Nazar Babenko</h3>
          <p class="reviews-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </li>
      <li class="reviews-item card3">
        <img
          class="team-img"
          srcset="
            /img/reviews/olena-kampusch-1x.png 1x,
            /img/reviews/olena-kampusch-2x.png 2x
          "
          src="/img/reviews/olena-kampusch.png"
          alt="Photo Olena Kampusch"
          width="80"
          loading="lazy"
        />
        <div class="reviews-card">
          <h3 class="reviews-subtitle">Olena Kampusch</h3>
          <p class="reviews-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>
    </ul>
    <!-- reviews btn -->
    <button class="reviews-btn js-open-modal" data-modal="3" type="button">
      Leave a review
    </button>
    <div class="modal modal-review" data-modal="3">
      <svg class="modal-cross js-modal-close">
        <use href="/img/icons.svg#icon-x-close"></use>
      </svg>
      <h2 class="modal-review-title">
        leave a review about
        <span class="modal-review-title-orange">our chocolate</span>
      </h2>
      <form class="modal-review-form">
        <label>
          <input
            type="text"
            name="name"
            class="modal-review-input"
            placeholder="Name"
            required
            pattern="^[a-zA-Z]+$"
            title="Only letters have to be used"
        /></label>
        <label>
          <input
            type="email"
            name="email"
            class="modal-review-input"
            placeholder="Enter your email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            title="Please type correct email address"
            required
        /></label>
        <div class="modal-review-input-wrap">
          <label>
            <input
              type="tel"
              name="tel"
              class="modal-review-input modal-review-input-tel"
              placeholder="Phone number"
              pattern="[0-9]{9}"
              required
          /></label>
          <div class="modal-review-country-code">
            <svg class="modal-review-flag">
              <use href="/img/icons.svg#icon-flag"></use>
            </svg>
            <span class="modal-review-prefix">+380</span>
          </div>
        </div>
        <label class="label-title">
          <textarea
            name="comment"
            class="modal-review-input"
            placeholder="Enter text"
          ></textarea>
        </label>
        <button
          class="modal-review-btn-send js-modal-close js-open-modal"
          data-modal="5"
          type="submit"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</section>
