<section class="container">
  <h2 class="reviews-title item">
    <span class="reviews-title-orange">chocolate</span> is loved
  </h2>
  <!-- <div class="swiper"> -->
  <ul class="reviews list swiper-wrapper">
    <li class="reviews-item">
      <h3 class="reviews-name item">Victoria Dobrzhanska</h3>
      <p class="reviews-text item">
        I love this chocolate bar. Perfect combination of light crispy wafer,
        covered in a thin layer chocolate.
      </p>
      <img class="reviews-pic" src="/img/reviews/rev-1.png" alt="" />
    </li>
    <li class="reviews-item">
      <h3 class="reviews-name item">Nazar Babenko</h3>
      <p class="reviews-text item">
        This chocolate confection is a delight! A delight! The wafer is light
        and crisp, the hazelnut cream is smooth, and the chocolate is good.
      </p>
      <img class="reviews-pic" src="/img/reviews/rev-2.png" alt="" />
    </li>
    <li class="reviews-item">
      <h3 class="reviews-name item">Olena Kampusch</h3>
      <p class="reviews-text item">
        Chocolate is a family favourite treat. Love the delicious smooth
        chocolate and the creaminess inside. The wafer is soft but crunchy.
      </p>
      <img class="reviews-pic" src="/img/reviews/rev-3.png" alt="" />
    </li>
  </ul>
  <!-- </div> -->
  <div class="swiper-pagination swiper-pagination-style"></div>
</section>
