<section class="subscribe container">
  <h1 class="subscribe-title">exPLORE OUR NEW CHOCOLATE FIRST</h1>
  <p class="subscribe-text">
    From the velvety texture to the rich and complex flavor, our New Chocolate
    is a true indulgence that will leave you craving more. Made with only the
    finest ingredients and handcrafted with the utmost care, each piece is a
    work of art that is sure to please.
  </p>
  <button class="button-subcribe js-open-modal" data-modal="4" type="button">
    Subscribe
  </button>
</section>
