<!-- Top Sellers -->
<section class="top-sellers">
  <div class="container top-sellers-box">
    <h2 class="top-sellers-title"><span>tOp</span> Sellers</h2>
    <ul class="top-sellers-list">
      <li class="top-sellers-item">
        <picture>
          <source
            srcset="
              ./img/top-sellers/top-sellers-desktop-01-1x.jpg 1x,
              ./img/top-sellers/top-sellers-desktop-01-2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="368"
          />
          <source
            srcset="
              ./img/top-sellers/top-sellers-tablet-01-1x.jpg 1x,
              ./img/top-sellers/top-sellers-tablet-01-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="344"
          />
          <source
            srcset="
              ./img/top-sellers/top-sellers-01-1x.jpg 1x,
              ./img/top-sellers/top-sellers-01-2x.jpg 2x
            "
            media="(max-width: 767px)"
            width="335"
          />
          <img
            src="./img/top-sellers/top-sellers-desktop-01-1x.jpg"
            alt="chocolate"
            width="335"
          />
        </picture>
        <p class="text-mobile">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="top-sellers-item">
        <picture>
          <source
            srcset="
              ./img/top-sellers/top-sellers-desktop-02-1x.jpg 1x,
              ./img/top-sellers/top-sellers-desktop-02-2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="368"
          />
          <source
            srcset="
              ./img/top-sellers/top-sellers-tablet-02-1x.jpg 1x,
              ./img/top-sellers/top-sellers-tablet-02-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="344"
          />
          <source
            srcset="
              ./img/top-sellers/top-sellers-02-1x.jpg 1x,
              ./img/top-sellers/top-sellers-02-2x.jpg 2x
            "
            media="(max-width: 767px)"
            width="335"
          />
          <img
            src="./img/top-sellers/top-sellers-desktop-02-1x.jpg"
            alt="chocolate"
            width="335"
          />
        </picture>
      </li>
      <li class="top-sellers-item">
        <picture>
          <source
            srcset="
              ./img/top-sellers/top-sellers-desktop-03-1x.jpg 1x,
              ./img/top-sellers/top-sellers-desktop-03-2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="368"
          />
          <img
            src="./img/top-sellers/top-sellers-desktop-03-1x.jpg"
            alt="chocolate"
            width="368"
          />
        </picture>
      </li>
    </ul>
    <div class="top-sellers-wrap">
      <p class="text-tablet">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button
        class="top-sellers-btn js-open-modal"
        data-modal="2"
        type="button"
      >
        Buy now
      </button>
    </div>
  </div>
</section>
