<section class="unique-components container">
  <h2 class="unique-components-title">
    IT ALL ADDS UP TO ONE EXCEPTIONAL
    <span class="title-accent">TASTE</span> SENSATION
  </h2>
  <p class="unique-components-text">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is
    in the details. From the sourcing of the finest ingredients to the careful
    crafting of each individual piece, every step of our process adds up to one
    exceptional taste sensation.
  </p>
  <ul class="unique-components-list">
    <li class="unique-components-item orange-box">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/unique-components/milk-chocolate-desktop.png    1x,
            /img/unique-components/milk-chocolate-desktop-2x.png 2x
          "
        />
        <img
          class="item-img"
          srcset="
            /img/unique-components/milk-chocolate.png    1x,
            /img/unique-components/milk-chocolate-2x.png 2x
          "
          src="/img/unique-components/milk-chocolate.png"
          alt="milk chocolate"
        />
      </picture>
      <p class="item-text text-white">MILK CHOCOLATE</p>
      <div class="item-benefits">
        <h3 class="benefits-title">MILK CHOCOLATE</h3>
        <div class="benefits-wrap">
          <p class="benefits-select">chocolate</p>
          <p class="benefits-curent">the benefits</p>
        </div>
        <p class="benefits-text">
          Milk chocolate is a solid chocolate confectionery containing cocoa,
          sugar and milk. It is the most consumed type of chocolate. Chocolate
          was originally sold and consumed as a beverage in pre-Columbian times.
          Although four-fifths of all milk chocolate is sold in the United
          States and Europe, increasingly large amounts are consumed in China
          and Latin America.
        </p>
      </div>
    </li>

    <li class="unique-components-item white-box">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ../img/unique-components/milk-desktop.png    1x,
            ../img/unique-components/milk-desktop-2x.png 2x
          "
        />
        <img
          class="item-img"
          srcset="
            ../img/unique-components/milk.png    1x,
            ../img/unique-components/milk-2x.png 2x
          "
          src="../img/unique-components/milk.png"
          alt="milk"
        />
      </picture>
      <p class="item-text">MILK</p>
      <div class="item-benefits">
        <h3 class="benefits-title">MILK</h3>
        <div class="benefits-wrap">
          <p class="benefits-select">milk</p>
          <p class="benefits-curent">the benefits</p>
        </div>
        <p class="benefits-text">
          Milk is a white liquid food produced by the mammary glands of mammals.
          It is the primary source of nutrition for young mammals (including
          breastfed human infants) before they are able to digest solid
          food.Early-lactation milk, which is called colostrum, contains
          antibodies that strengthen the immune system, and thus reduces the
          risk of many diseases. Milk contains many nutrients, including protein
          and lactose.
        </p>
      </div>
    </li>

    <li class="unique-components-item black-box">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ../img/unique-components/nuts-desktop.png    1x,
            ../img/unique-components/nuts-desktop-2x.png 2x
          "
        />
        <img
          class="item-img"
          srcset="
            ../img/unique-components/nuts.png    1x,
            ../img/unique-components/nuts-2x.png 2x
          "
          src="../img/unique-components/nuts.png"
          alt="nuts"
        />
      </picture>
      <p class="item-text text-white">NUTS</p>
      <div class="item-benefits">
        <h3 class="benefits-title">NUTS</h3>
        <div class="benefits-wrap">
          <p class="benefits-select">nuts</p>
          <p class="benefits-curent">the benefits</p>
        </div>
        <p class="benefits-text">
          Almonds, pistachios, and walnuts are some types of nuts that contain
          healthy nutrients. When eaten as part of a nutrient-dense diet, these
          9 nuts may offer benefits such as reducing your risk of heart disease.
          They’re a good source of fiber, healthy fats, and plant protein. Plus,
          they’re great on their own, paired with fruit, or added to dishes like
          salads, desserts, and grains.
        </p>
      </div>
    </li>

    <li class="unique-components-item white-box">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ../img/unique-components/semi-sweet-chocolate-desktop.png    1x,
            ../img/unique-components/semi-sweet-chocolate-desktop-2x.png 2x
          "
        />
        <img
          class="item-img"
          srcset="
            ../img/unique-components/semi-sweet-chocolate.png    1x,
            ../img/unique-components/semi-sweet-chocolate-2x.png 2x
          "
          src="../img/unique-components/semi-sweet-chocolate.png"
          alt="semi-sweet-chocolate"
        />
      </picture>
      <p class="item-text">SEMI-SWEET CHOCOLATE</p>
      <div class="item-benefits">
        <h3 class="benefits-title">SEMI-SWEET CHOCOLATE</h3>
        <div class="benefits-wrap">
          <p class="benefits-select">sweet chocolate</p>
          <p class="benefits-curent">the benefits</p>
        </div>
        <p class="benefits-text">
          Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
          the best ways to gain an understanding of this type of chocolate is to
          compare it to a different type of chocolate. Semisweet is darker than
          milk chocolate. In a taste comparison, it has a slightly bitter taste
          whereas milk chocolate is sweeter and more mellow. This delectable
          flavor of chocolate is very versatile.
        </p>
      </div>
    </li>
  </ul>
</section>
