.advantages {

background-color: #1E1823;
padding-top: 29px;
padding-bottom: 20px;
}
.advantages-header {
}
.advantages-item {

display: inline-block;
padding-top: 113px; ;

}
/* .advantages-item:first-child .advantages-icons {
    padding-top: 0;

} */

.advantages-icon-circle{
    position: absolute; 
    display: block;
stroke: rgba(255, 255, 255, 0.5);



}
.advantages-icon {
    /* background-color: tomato; */
    fill: var(--text-color-accent);
     position: absolute; 
     left: 30px; 
     transform: translate(-50%, 50%);
}
.advantages-item-icons{
    position: relative; 
    width: 308px;
height: 226px;

}
.advantages-item-header {
    
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 1,222;
color: var(--text-color-blond);
padding-bottom: 18px;
padding-top: 22px;

}
.advantages-text {
font-family: 'Montserrat';
font-weight: 400;
font-size: 14px;
line-height: 1,2142857142857142857142857142857;
letter-spacing: -0.02em;
color: var(--text-color-blond-advantages);
max-width: 308px;

}
.advantages-list{
/* padding-top: 113px; */
}
.advantages-icons{
    /* padding-top: 29px; */
    transform: translate(0px, -84px)
}
@media (min-width: 375px) {
    .advantages {
        background-color: #1E1823;
        padding-top: 59px;
        padding-bottom: 85px;
        }
    .advantages-list{
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        row-gap: 41px;
    }
    .advantages-icons{
        padding-top: 0;
    }

  }

  @media (min-width: 768px) {
    .advantages-icons {
        padding-top: 0;
    }

    }
  
  @media (min-width: 1200px) {

  }
  
  .CLOSE-section{
    padding: 60px;
    background-color: aqua;
  }