.footer {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0 auto;

  font-family: 'Montserrat';
  font-weight: 500;

  color: var(--text-color-blond);
  background-color: var(--cards-background-color);
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 32px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 32px;
}

.footer-slogan {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.footer-slogan span {
  color: var(--text-color-accent);
}

.footer-text {
  font-size: 14px;
  line-height: 1.29;

  margin-bottom: 14px;
}

.footer-adress {
  display: flex;
  flex-direction: column;
  gap: 4px;

  padding: 0px;
}

.footer-tel,
.footer-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel:hover,
.footer-tel:focus,
.footer-mail:hover,
.footer-mail:focus {
  color: var(--text-color-accent);
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  gap: 14px;

  padding: 0px;
  margin-top: 14px;
}

.footer-soc-item {
  width: 22px;
  height: 22px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  background-color: transparent;
  fill: transparent;
  stroke: currentColor;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:is(:hover, :focus) {
  stroke: var(--text-color-accent);
}

.footer-adress-social {
  display: block;
}

.footer-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 18px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;

  padding-top: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--text-color-accent);
}

@media (min-width: 375px) {
  .footer-slogan {
    width: 300px;
  }

  .footer-adress {
    width: 164px;
  }

  .footer-social-list {
    width: 58px;
    justify-content: center;

    margin-top: 0px;
  }

  .footer-soc-icon {
    width: 22px;
    height: 22px;
  }

  .footer-adress-social {
    display: flex;
    justify-content: space-between;

    margin: 0;
  }
}

@media (min-width: 768px) {
  .footer {
    width: var(--container-width);

    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-content {
    flex-direction: row;
    gap: 0px;
    justify-content: space-between;
    align-items: flex-start;

    padding-bottom: 50px;
  }

  .footer-slogan {
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
  }

  .footer-social-list {
    width: 66px;
    gap: 18px;
  }

  .footer-soc-icon {
    width: 24px;
    height: 24px;
  }

  .footer-adress-social {
    gap: 50px;
  }

  .footer-navigation-list {
    flex-direction: row;
    gap: 24px;

    padding-top: 24px;
  }
}

@media (min-width: 1200px) {
  .footer-content {
    padding-bottom: 58px;
  }

  .footer-adress-social {
    gap: 63px;
  }
}
