/* .nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.nav-link:hover,
.nav-link:focus {
  color: #747bff;
} */
@media (max-width: 767px) {
  .page-header {
    padding: 20px 0;
  }
  .page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .site-nav-header {
    display: none;
  }
  .header-cont-pre {
    display: none;
  } 
  .header-soc-list {
    display: flex;
    list-style-type: none;
    gap: 18px;
  }
  .header-logo {
    width: 169px;
    height: 21px;
  }
  .header-burger {
    position: sticky;
    top: 24px;
    right: 16px;
    width: 32px;
    height: 22px;
    margin-left: auto;
    margin-right: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    stroke: currentColor;
    fill: currentColor;
    background-color: transparent;
  }
  .header-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    z-index: 100;
    background-color: var(--cards-background-color);
    padding: 24px 32px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms linear;
  }
  .header-menu .js-open-modal {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
  .header-menu > .container-mob-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
  }
  .no-scroll {
    overflow: hidden;
  }
  .header-mob-close {
    display: block;
    margin-left: auto;
    margin-bottom: 100px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    fill: var(--text-color-blond);
  }
  .header-mob-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-mob-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .header-mob-item:is(:hover, :focus) {
    color: var(--text-color-accent);
  }
  .header-mob-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: var(--text-color-blond);
  }
}

@media (min-width: 768px) {
  .page-header {
    padding: 20px 0;
  }
  .page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .site-nav-header {
    display: none;
  }
  .header-cont-pre {
    display: none;
  }
  .header-soc-list {
    display: flex;
    list-style-type: none;
    gap: 18px;
  }
  .header-burger {
    top: 24px;
    right: 16px;
    width: 32px;
    height: 22px;
    margin-left: auto;
    /* z-index: 1; */
    /* margin-right: 24px;
    margin-bottom: 24px; */
    padding: 0;
    border: none;
    stroke: currentColor;
    fill: currentColor;
    background-color: transparent;
  }
  .header-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    z-index: 100;
    background-color: var(--cards-background-color);
    padding: 24px 32px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms linear;
  }
  .header-menu .js-open-modal {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
  .header-menu > .container-mob-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
  }
  .no-scroll {
    overflow: hidden;
  }
  .header-mob-close {
    /* display: block; */
    margin-left: auto;
    margin-bottom: 100px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    fill: var(--text-color-blond);
  }
  .header-mob-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-mob-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .header-mob-item:is(:hover, :focus) {
    color: var(--text-color-accent);
  }
  .header-mob-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: var(--text-color-blond);
  }
}

@media (min-width: 1200px) {
  .page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .header-logo {
    width: 214px;
    height: 24px;
  }
  .site-nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 188px;
  }
  .site-nav-header .header-item + .header-item {
    margin-left: 24px;
  }
  .site-nav-header .link-current {
    color: var(--text-color-accent);
  }
  .header-nav-link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: var(--modal-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* padding: 24px 0; */
  }
  .header-nav-link:hover,
  .header-nav-link:focus {
    color: var(--text-color-accent);
  }
  .header-cont-pre {
    display: flex;
  }
  .header-soc-list {
    display: flex;
    justify-content: center;
    gap: 18px;
  }
  .header-soc-title {
    width: 24px;
    height: 24px;
  }
  .header-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--modal-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-soc-link:is(:hover, :focus) {
    color: var(--text-color-accent);
  }
  .icon-social-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 18px;
    stroke: var(--modal-title-color);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-social-header:is(:hover, :focus) {
    stroke: var(--text-color-accent);
  }
  .header-menu {
    display: none;
  }
  .header-burger {
    display: none;
  }
  .header-mob-menu {
    display: none;
  }
}
