.span-header {
  font-style: italic;
}
.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-soc-list {
  display: flex;
  list-style-type: none;
  gap: 18px;
}
.header-burger {
  position: sticky;
  width: 28px;
  height: 28px;
  margin-left: auto;
  margin-right: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  stroke: currentColor;
  fill: currentColor;
  background-color: transparent;
}
.header-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  z-index: 100;
  background-color: var(--cards-background-color);
  padding: 24px 32px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear;
}
.header-menu .js-open-modal {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.header-menu > .container-mob-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
.header-mob-close {
  margin-left: auto;
  margin-bottom: 100px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  fill: var(--text-color-blond);
}
.header-mob-item {
  display: flex;
  align-items: center;
}
.header-mob-item:not(:last-child) {
  margin-bottom: 24px;
}
.header-mob-item:is(:hover, :focus) {
  color: var(--text-color-accent);
}
.header-mob-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: var(--text-color-blond);
}

@media (max-width: 767px) {
  .page-header {
    padding: 20px 0 14px 0;
  }
  
  .site-nav-header {
    display: none;
  }
  .header-cont-pre {
    display: none;
  } 
  .header-logo {
    width: 169px;
    height: 21px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(20/18);
    letter-spacing: -0.03em;
    color: var(--modal-title-color);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 0
  }
  .logo-head-icon{
  width: 21px;
  height: 21px;
  } 
  .header-mob-nav {
    margin-left: 30%;
  }
}

@media (min-width: 768px) {
  .page-header {
    padding: 24px 0;
  }
  .site-nav-header {
    display: none;
  }
  .header-cont-pre {
    display: none;
  }
  .header-logo {
    width: 169px;
    height: 21px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(20/18);
    letter-spacing: -0.03em;
    color: var(--modal-title-color);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 0
  }
  .logo-head-icon{
    width: 21px;
    height: 21px;
    }
  .header-burger {
    width: 32px;
    height: 32px;
  }
  .header-mob-nav {
    margin-left: 40%;
  }
}

@media (min-width: 1200px) {
  .page-header {
    padding: 24px 0 32px 0;
  }
  .header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .header-logo {
    width: 214px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(20/18);
    letter-spacing: -0.03em;
    color: #111111;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 0
  }
  .logo-head-icon{
    width: 24px;
    height: 24px;
    }
  .site-nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 188px;
  }
  .site-nav-header .header-item + .header-item {
    margin-left: 24px;
  }
  .site-nav-header .link-current {
    color: var(--text-color-accent);
  }
  .header-nav-link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: var(--modal-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-nav-link:hover,
  .header-nav-link:focus {
    color: var(--text-color-accent);
  }
  .header-cont-pre {
    display: flex;
  }
  .header-soc-title {
    width: 24px;
    height: 24px;
  }
  .header-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--modal-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-soc-link:is(:hover, :focus) {
    color: var(--text-color-accent);
  }
  .icon-social-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 18px;
    border: none;
    fill: var(--modal-title-color);
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-social-header:is(:hover, :focus) {
    fill: var(--text-color-accent);
  }
  .header-menu {
    display: none;
  }
  .header-burger {
    display: none;
  }
  .header-mob-menu {
    display: none;
  }
}

