  .hero {
    /* max-width: 335px; */
    /* background-size: cover;
    justify-content: center;
    margin: auto; */
  }

  .hero-box {
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(/img/hero/hero-cover1x.jpg);
    background-size: auto;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero-image-container {
    display: inline-block;
  }

  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  .hero-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    width: 299px;
    min-height: 72px;
    margin: auto;
    padding-top: 395px;
  }

  .hero-button {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 14px;
  }

  .btn {
    gap: 14px;
    width: 120px;
    height: 41px;
    background: #FD9222;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: none;
    margin-left: 28px;
  }

  .btn:hover,
  .btn:focus {
    background-color: #FCF1E0;
    color: #FD9222;
    cursor: pointer;
  }

  .btn2:hover,
  .btn2:focus {
    background-color: #FCF1E0;
    color: #FD9222;
    border: 1px solid #FD9222;
  }

  .btn2 {
    gap: 14px;
    width: 159px;
    height: 41px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    background: transparent;
    color: #FFFFFF;
  }

  .btn2:hover,
  .btn2:focus {

    color: #FD9222;
    border: 10px;
  }


  .hero-scroll {
    display: block;
    width: 67px;
    height: 14px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-bottom: 20px;
    justify-content: center;
    margin-left: 20px;
  }

  .hero-scroll:hover,
  .hero-scroll:focus {
    color: #FD9222;
  }

  .hero-svg:hover,
  .hero-svg:focus {
    background: #FD9222;
    fill: #FFFFFF;
  }

  .h-scroll {
    display: flex;
    gap: 12px;
    margin-bottom: 32px;
    cursor: pointer;
  }

  .hero-button {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .hero-icon-soc {
    border: 50%;
  }


  @media screen and (min-width: 375px) {

    .hero-box {
      background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(/img/hero/hero-cover1x.jpg);
      background-size: 100%;
      min-width: 335px;
      /* min-height: 620px; */
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .hero-title {
      margin-left: 40px;
      line-height: 1.2;
      letter-spacing: -0.03em;
      margin-bottom: 32px;
      font-size: 20px;
      letter-spacing: -0.03em;
      color: #FFFFFF;
    }
  }


  @media screen and (min-width: 425px) {
    .hero-button {
      justify-content: flex-start;
    }
  }

  @media screen and (min-width: 768px) {
    .hero-box {
      background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(/img/hero/hero-tablet1x.jpg);
      display: flex-box;
      padding-left: 32px;
      padding-right: 32px;
      margin-bottom: 72px;
    }

    .hero-container {}

    .hero-button {
      margin-left: 0;
      display: flex;
      justify-content: flex-start;
    }

    .h-scroll {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 0;

    }

    .hero-scroll {
      margin: 0;
      justify-items: flex-end;
      display: flex;
      width: 78px;
      height: 18px;
      font-size: 14px;
      line-height: 1.3;
      letter-spacing: -0.03em;

    }

    .hero-title {
      letter-spacing: -0.03em;
      min-width: 484px;
      min-height: 102px;
      font-size: 28px;
      line-height: 1.2;

    }

    .hero-tablet {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btn {
      width: 144px;
      height: 45px;
      border-radius: 100px;
    }
  }

  @media screen and (min-width: 1200px) {
    .hero-box {
      background-image: url(/img/hero/desktop1x.jpg);
      max-width: 1135px;
    }
  }