/* Hero */
.hero {
  padding-bottom: 71px;
}
.hero-title {
  max-width: 285px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-bottom: 32px;
}
.hero-box {
  padding-top: 395px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 21px;
  max-width: 335px;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../img/hero/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-box {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero/hero-background-2x.jpg);
  }
}
.hero-btn {
  margin-bottom: 32px;
}
.btn-buy {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: #fd9222;
  margin-right: 10px;
  margin-bottom: 10px;
  transition-property: color;
  transition-duration: 250ms;
  padding: 12px 27px;
  border-radius: 100px;
}
.btn-buy:is(:focus, :hover) {
  color: #fd9222;
  background-color: #fcf1e0;
}
.btn-made {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  padding: 12px 27px;
  border-radius: 100px;
}
.btn-made:is(:focus, :hover) {
  color: #fd9222;
  background-color: #fcf1e0;
}
.hero-scroll {
  display: flex;
  align-items: center;
  gap: 12px;
}
.hero-scroll-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: #ffffff;
  transition-property: color;
  transition-duration: 0.37s;
}
.hero-scroll-link:is(:focus, :hover) {
  color: #fd9222;
}
.btn-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 0;
  fill: #fd9222;
}
.btn-scroll-icon {
  padding: 9px;
  width: 100%;
  height: 100%;
  transition-property: all;
  transition-duration: 0.37s;
}
.btn-scroll:is(:focus, :hover) {
  background-color: #fd9222;
  fill: #ffffff;
}

/* Media Tablet */
@media (min-width: 768px) {
  .hero {
    padding-bottom: 50px;
  }
  .hero-title {
    font-size: 28px;
  }
  .hero-box {
    max-width: 704px;
    height: 890px;
    padding-top: 675px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero/hero-background-tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-box {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(../img/hero/hero-background-tablet-2x.jpg);
    }
  }
  .hero-btn-wrap {
    display: flex;
    justify-content: space-between;
  }
  .hero-btn {
    margin: 0;
  }
  .hero-title {
    font-size: 28px;
    line-height: 1.2;
    max-width: 480px;
  }

  .hero-scroll-link {
    font-size: 14px;
    line-height: 18px;
  }

  .btn-scroll {
    width: 38px;
    height: 38px;
  }
  .btn-scroll-icon {
    padding: 12px;
  }
}
/* Media Tablet */
@media (min-width: 768px) {
  .nav-mob-btn {
    width: 24px;
    height: 16px;
  }
}
/* Media Desktop */
@media (min-width: 1200px) {
  .hero {
    padding-bottom: 72px;
  }
  .hero-box {
    max-width: 1136px;
    height: 600px;
    padding-top: 381px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero/hero-background-desktop.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-box {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(../img/hero/hero-background-desktop-2x.jpg);
    }
  }
}
