/* How its made */
.how-made {
  padding-top: 72px;
}
.how-made-title {
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #111111;
  margin-bottom: 32px;
}
.how-made-video {
  position: relative;
  max-width: 614px;
  margin: 0 auto;
}
.how-made-img {
  border-radius: 15px;
}

.video-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-play-video {
  fill: #ffffff;
}

.myvideo {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  z-index: 1;
}
.how-made-wrap {
  margin-top: 20px;
  padding: 20px 14px;
  background: #ffffff;
  border-radius: 15px;
}
.how-made-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111111;
  margin-bottom: 20px;
}
.how-made-list {
  padding-left: 15px;
  padding-right: 15px;
}
.how-made-item {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;

  color: #111111;
  list-style: disc;
  margin-bottom: 18px;
}
/* Media Tablet */
@media (min-width: 768px) {
  .how-made {
    padding-top: 100px;
  }
  .how-made-wrap {
    max-width: 614px;
    margin-left: auto;
    margin-right: auto;
  }
  .how-made-text {
    max-width: 350px;
  }
}
/* Media Desktop */
@media (min-width: 1200px) {
  .how-made {
    padding-top: 128px;
  }
  .hov-made-box {
    display: flex;
    gap: 20px;
  }
  .how-made-wrap {
    max-width: 516px;
  }
}
