/* modal review */

.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  background: var(--main-background-color);
  border-radius: 15px;
}
.modal-cross {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 14px;
  right: 14px;
  stroke: var(--modal-title-color);
  cursor: pointer;
}
.modal-review {
  width: 100%;
  height: 100%;
  max-width: 311px;
  max-height: 479px;
  padding: 32px 24px;
  overflow: scroll;
}
.modal-review-form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 14px;
}
.modal-review-title,
.modal-review-title-orange {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--modal-title-color);
}
.modal-review-title-orange {
  color: var(--text-color-accent);
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal-review-input {
  width: 100%;
  height: 45px;
  border: 1.5px solid var(--modal-border-box-color);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  /* outline: none; */
  padding: 14px 18px;
  background: var(--main-background-color);
}

.modal-review-input-wrap {
  position: relative;
}
.modal-review-country-code {
  position: absolute;
  display: flex;
  align-items: center;
  left: 18px;
  transform: translateY(-135%);
  width: 74px;
  height: 25px;
  box-shadow: 1.5px 0px 0px rgba(0, 0, 0, 0.1);
}
.modal-review-flag {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.modal-review-prefix {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--modal-tel-prefix);
  margin-right: 8px;
}
.modal-review-input-tel {
  padding-left: 106px;
}

.modal-review-form textarea {
  resize: none;
  height: 91px;
}

.modal-review-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  color: var(--input-placeholder-text-color);
}

.modal-review-btn-send {
  padding: 12px 28px;
  width: 94px;
  margin-top: 4px;
  background: var(--text-color-accent);
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--text-color-blond);
  outline: none;
  border-color: transparent;
}
.modal-review-btn-send:hover,
.modal-review-btn-send:focus {
  color: var(--text-color-accent);
  background: var(--modal-active-btn);
}

@media (min-width: 768px) {
  .modal-review {
    padding: 40px;
    max-width: 517px;
    max-height: 631px;
  }
  .modal-review-form {
    gap: 19px;
  }
  .modal-cross {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }
  .modal-review-title,
  .modal-review-title-orange {
    font-size: 24px;
    line-height: 1.17;
    width: 300px;
  }
  .modal-review-input {
    height: 66px;
    padding: 22px 24px;
    border-radius: 13px;
  }
  .modal-review-country-code {
    transform: translateY(-150%);
    left: 26px;
    width: 125px;
    height: 32px;
  }
  .modal-review-flag {
    width: 32px;
    height: 32px;
    margin-right: 18px;
  }
  .modal-review-prefix {
    font-size: 18px;
    line-height: 1.22;
  }
  .modal-review-input-tel {
    padding-left: 177px;
  }
  .modal-review-input::placeholder {
    font-size: 18px;
    line-height: 1.22;
  }
  .modal-review-form textarea {
    height: 137px;
  }
  .modal-review-btn-send {
    padding: 14px 40px;
    width: 117px;
    margin-top: -1px;
  }
}
