/* Top Sellers */
.top-sellers {
  margin-top: 72px;
  padding-bottom: 72px;
  display: flex;
  justify-content: center;
}
.top-sellers-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;

  margin-bottom: 32px;
}
.top-sellers-title > span {
  color: var(--text-color-accent);
}

.top-sellers-list {
  margin-left: auto;
  margin-right: auto;
}
.top-sellers img {
  border-radius: 15px;
  overflow: hidden;
}

.top-sellers .text-mobile {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #111111;

  margin-top: 20px;
  margin-bottom: 32px;
  max-width: 306px;
}

.top-sellers .text-tablet {
  display: none;
}

.top-sellers-item:last-child {
  display: none;
}
.top-sellers-btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
  width: 120px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fd9222;
  border-radius: 100px;
  border: none;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.top-sellers-btn:focus,
.top-sellers-btn:hover {
  background: var(--modal-active-btn);
  color: #fd9222;
}

@media (min-width: 768px) {
  .top-sellers {
    margin-top: 100px;
    padding-bottom: 100px;
  }

  .top-sellers-title {
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 50px;
  }

  .top-sellers-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  .top-sellers-item {
    width: calc((100% - 16px) / 2);
  }

  .top-sellers-wrap {
    display: flex;
  }

  .top-sellers .text-mobile {
    display: none;
  }

  .top-sellers .text-tablet {
    display: block;
    margin-top: 32px;
    max-width: 306px;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #111111;
  }
  .top-sellers-btn {
    font-size: 18px;
    line-height: 1.2;
    width: 162px;
    height: 50px;
    margin-top: 32px;
    margin-right: 0;
  }
}

/* Media Desktop */
@media (min-width: 1200px) {
  .top-sellers {
    margin-top: 128px;
    padding-bottom: 128px;
  }
  .top-sellers-item:last-child {
    display: block;
  }
  .top-sellers-item {
    width: calc((100% - 32px) / 3);
  }
  .top-sellers .text-tablet {
    max-width: 407px;
  }
}
